body {
  font-family: Arial, sans-serif;
  background-color: #F5F5DC;
}

h1 {
  text-align: center;
}

h2 {
  color: rebeccapurple;
  text-align: center;
}

table {
  border: 2px solid darkorchid;
  width: 650px;
  margin: 0 auto;
}

thead {
  background-color: d1fff3;
}

td {
  border-top: 1px solid darkorchid;
}

.code {
  font-family: monospace;
  background-color: d1ff33;
}

p {
  text-align: center;
  text-decoration: dotted;
}

.centered {
  display: block;
  margin: 0 auto;
}

